<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<!--配置promotionService-->
	<jaxrs:server id="promotionService" address="/promotionService">
		<jaxrs:serviceBeans>
			<bean class="top.kylewang.bos.service.take_delivery.impl.PromotionServiceImpl"/>
		</jaxrs:serviceBeans>
	</jaxrs:server>

	<!--配置orderService-->
	<jaxrs:server id="orderService" address="/orderService">
		<jaxrs:serviceBeans>
			<bean class="top.kylewang.bos.service.take_delivery.impl.OrderServiceImpl"/>
		</jaxrs:serviceBeans>
	</jaxrs:server>

</beans>