<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置Shiro核心Filter-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--安全管理器-->
        <property name="securityManager" ref="securityManager"/>
        <!--未认证, 跳转哪个页面-->
        <property name="loginUrl" value="/login.html"/>
        <!--登录页面-->
        <property name="successUrl" value="/index.html"/>
        <!--认证后没有权限跳转页面-->
        <property name="unauthorizedUrl" value="/unauthorized.html"/>
        <!--Shiro URL控制过滤器规则-->
        <property name="filterChainDefinitions">
            <value>
                /login.html* = anon
                /user_login.action* = anon
                /validatecode.jsp* = anon
                /css/** = anon
                /js/** = anon
                /images/** = anon
                /services/** = anon
                /pages/base/courier.html* = perms[courier:list]
                /pages/base/area.html* = roles[base]
                /** = authc
            </value>
        </property>
    </bean>

    <!--配置安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="bosRealm"/>
        <property name="cacheManager" ref="shiroCacheManager"/>
    </bean>

    <!--配置后置处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!--配置realm, 配置缓存区-->
    <bean id="bosRealm" class="top.kylewang.bos.realm.BosRealm">
        <property name="authorizationCacheName" value="bos"/>
    </bean>

    <!--配置shiro注解模式-->
    <!--自动代理-->
    <bean id="defaultAdvisorAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
        <!--配置对实现类进行代理-->
        <property name="proxyTargetClass" value="true"/>
    </bean>
    <!--切面类-->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor"/>

</beans>